mixin tickets(items, classes_mod)
	+b.tiles._tickets(class=classes_mod)
		each item in items
			+e.item
				+b.ticket
					+e('p').type #{item.type}
					+e('p').time
						+e('span')(data-label="days").days #{item.days}
						+e('span')(data-label="min").minutes #{item.minutes}
						+e('span')(data-label="sec").seconds #{item.seconds}
					+e('p').price #{item.price}
					+e('p').text #{item.text}
					+e.btn
						+b('a').btn._solid(href=`${item.href}`) Get ticket